@-moz-keyframes fadeIn {
  0% {
    opacity:0;
    filter: blur(5px);
  }
  50% {
    opacity: .5;
    filter: blur(2px);
  }
  75% {
    opacity: .75;
    filter: blur(0) grayscale(90%);
  }
  100% {
    opacity:1;
    filter: grayscale(100%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    filter: blur(5px);
  }
  50% {
    opacity: .5;
    filter: blur(2px);
  }
  75% {
    opacity: .75;
    filter: blur(0) grayscale(90%);
  }
  100% {
    opacity:1;
    filter: grayscale(100%);
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
    filter: blur(5px);
  }
  50% {
    opacity: .5;
    filter: blur(2px);
  }
  75% {
    opacity: .75;
    filter: blur(0) grayscale(90%);
  }
  100% {
    opacity:1;
    filter: grayscale(100%);
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
    filter: blur(5px);
  }
  50% {
    opacity: .5;
    filter: blur(2px);
  }
  75% {
    opacity: .75;
    filter: blur(0) grayscale(90%);
  }
  100% {
    opacity:1;
    filter: grayscale(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
    filter: blur(5px);
  }
  50% {
    opacity: .5;
    filter: blur(2px);
  }
  75% {
    opacity: .75;
    filter: blur(0) grayscale(90%);
  }
  100% {
    opacity:1;
    filter: grayscale(100%);
  }
}
@-moz-keyframes fadeInMural {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInMural {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}

@-o-keyframes fadeInMural {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}

@-ms-keyframes fadeInMural {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInMural {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes fadeInPaint {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInPaint {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

@-o-keyframes fadeInPaint {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

@-ms-keyframes fadeInPaint {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInPaint {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInArt {
  0% {
    opacity:0;
  }
  10% {
    opacity:0;
  }
  20% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  40% {
    opacity:0;
  }
  50% {
    opacity:0;
  }
  60% {
    opacity:.2;
  }
  70% {
    opacity:.4;
  }
  80% {
    opacity:.6;
  }
  90% {
    opacity:.8;
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes fadeInDancer {
  0% {
    opacity:0;
    transform: translateX(-70px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes fadeInActor {
  0% {
    opacity:0;
    transform: translateX(70px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes fadeInIcons {
  0% {
    opacity:0;
    transform: scale(.1);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}
@keyframes fadeInSmall {
0% {
opacity:0;
transform: translateY(-70px);
}
100% {
opacity:1;
transform: translateY(0);
  }
}
