@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Muli&display=swap');
html {
  box-sizing: border-box;
  background-image:url(assets/paper.png);
  background-repeat: no-repeat;
  background-color: #2e2e2e;
  background-attachment: fixed;
  background-size: 15%;
  background-position: -10% 0%;
  height: 90vh;
  overflow: hidden;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

Header {
  text-align: right;
  position: fixed;
  top: -3%;
  right: 4%;
  font-size: 3em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  line-height: 220%;
  color: #454545;
  letter-spacing: 2px;
}
small {
  animation: fadeInIcons ease 10s;
  color: #f7867e;
}
u {
  text-decoration-color: #f7867e;
}
h1 {
  font-family: 'Muli', sans-serif;
  font-weight: 100;
  line-height: 5%;
  letter-spacing: 30px;
  font-size: 4em;
  color: #f0f0f0;
  position: fixed;
  right: 4.3%;
  top: 9%;
  z-index: -1;
  animation: fadeInArt ease-in 9s;
  text-shadow: 2px 2px #f7867e, 3px 3px #f7867e, 4px 4px 1px #f7867e;
}
.smcontainer {
  position: fixed;
  right: 13%;
  bottom: 10%;
  height: 25%;
  width: 18%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.twitter {
  animation: fadeInIcons ease-in 1s;
  background-image: url(assets/twitter.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.twitter:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.02);
  border-radius: 10px;
}
.instagram {
  animation: fadeInIcons ease-in 2s;
  background-image: url(assets/ig.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.instagram:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.02);
  border-radius: 10px;
}
.facebook {
  animation: fadeInIcons ease-in 3s;
  background-image: url(assets/facebook.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.facebook:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.02);
  border-radius: 10px;
}
.email {
  animation: fadeInIcons ease-in 3s;
  background-image: url(assets/email.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.email:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.02);
  border-radius: 10px;
}
.phone {
  animation: fadeInIcons ease-in 2s;
  background-image: url(assets/phone.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.phone:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.02);
  border-radius: 10px;
}
.address {
  animation: fadeInIcons ease-in 1s;
  background-image: url(assets/address.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.address:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.02);
  border-radius: 10px;
}
.container {
  font-family: 'Muli', sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
  max-width: 40%;
  height: 78vh;
  margin-top: 5%;
  margin-left: 10%;
  text-align: wrap;
  transform: scale(0.98);
  transition: transform 0.5s;
  opacity: 1;
  color: #434343;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 10px 18px 8px rgba(0, 0, 0, 0.2), 16px 18px 8px rgba(0, 0, 0, 0.2);
}
.mural {
  animation: fadeIn ease-in 3s, fadeInMural ease-in 2s;
  background-image:url(assets/urban1.png);
  width: 49%;
  height: 49%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  align-self: flex-end;
  transition: all ease 1s;
  filter: grayscale(100%);
}
.mural:hover {
  -webkit-filter: grayscale(100%) drop-shadow( 0 0 8px #717171);
  filter: grayscale(100%) drop-shadow( 0 0 12px #717171);
}
.hidemural {
  display: none;
  animation: none;
  transition: all ease 1s;
}
#scholarship {
  margin-top: 100%;
  filter: grayscale(0) drop-shadow();
}
#scholarship:hover {
  color: #f7867e;
}
.mural #openScholarship {
  display: none;
}
.scholarship {
  background-image:url(assets/urban2.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #464646b3;
  filter: none;
  transition: all ease-in 3s;
}
.scholarship #openScholarship {
  font-family: 'Montserrat', sans-serif;
  display: block;
  color: #ededed;
  font-size: .5em;
  font-weight: 100;
  text-align: justify;
  margin-left: 6%;
  margin-bottom: 3%;
  height: 30%;
  width: 90%;
  position: fixed;
  bottom: -3%;
  overflow: scroll;
  animation: fadeInText ease 7s;
  transition: all ease-in 1s;
}
.scholarship #scholarship::after {
  content: " ⓧ";
}
.scholarship:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
}
.scholarship #openScholarship:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
}
.actor {
  animation: fadeIn ease-in 5s, fadeInActor ease-in 4s ;
  background-image:url(assets/actor1.png);
  width: 49%;
  height: 49%;
  background-size: 100%;
  background-position: center left;
  background-repeat: no-repeat;
  align-self: flex-end;
  transition: all ease 2s;
  filter: grayscale(100%);
}
.actor:hover {
  -webkit-filter: grayscale(100%) drop-shadow( 0 0 8px #717171);
  filter: grayscale(100%) drop-shadow( 0 0 12px #717171);
}
.hideactor {
  display: none;
  animation: none;
  transition: all ease 1s;
}
.actor #openSupport {
  display: none;
}
#support {
  filter: grayscale(0);
  margin-top: 20%;
  margin-right: -130%;
  transform: rotate(90deg);
}
#support:hover {
  color: #f7867e;
}
.support {
  background-image:url(assets/actor2.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #464646b3;
  filter: none;
  transition: all ease-in 3s;
}
.support #openSupport {
  font-family: 'Montserrat', sans-serif;
  display: block;
  color: #ededed;
  font-size: .5em;
  font-weight: 100;
  text-align: justify;
  margin-left: 6%;
  margin-bottom: 3%;
  height: 30%;
  width: 90%;
  position: fixed;
  bottom: -3%;
  overflow: scroll;
  animation: fadeInText ease 7s;
  transition: all ease-in 1s;
}
.support #support::after {
  content: " ⓧ";
}
.support:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
}
.support #openSupport:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
}
.dancer {
  animation: fadeIn ease-in 6s, fadeInDancer ease-in 5s;
  background-image:url(assets/dancer1.png);
  width: 49%;
  height: 49%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  transition: all ease 2s;
  align-self: flex-end;
  filter: grayscale(100%);
}
.dancer #aboutopen {
  display: none;
}
.dancer:hover {
  -webkit-filter: grayscale(100%) drop-shadow( 0 0 8px #717171);
  filter: grayscale(100%) drop-shadow( 0 0 12px #717171);
}
.hidedancer {
  display: none;
  animation: none;
  transition: all ease 1s;
}
#about {
  filter: grayscale(0) drop-shadow();
  margin-left: -120%;
  transform: rotate(-90deg);
}
.about {
  background-image:url(assets/dancer2.png);
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #464646b3;
  filter: none;
  transition: all ease-in 3s;
}
.about #aboutopen {
  font-family: 'Montserrat', sans-serif;
  display: block;
  color: #ededed;
  font-size: .5em;
  font-weight: 100;
  text-align: justify;
  margin-left: 6%;
  margin-bottom: 3%;
  height: 30%;
  width: 90%;
  position: fixed;
  bottom: -3%;
  overflow: scroll;
  animation: fadeInText ease 7s;
  transition: all ease-in 1s;
}
.about #about::after {
  content: " ⓧ";
}
.about:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
  transform: scale(1);
}
#about:hover {
  color: #f7867e;
}
.about #aboutopen:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
  transform: scale(1);
}
.paint {
  animation: fadeInPaint ease-in 3s, fadeIn ease-in 4s;
  background-image:url(assets/paint1.png);
  width: 49%;
  height: 49%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  align-self: flex-end;
  transition: all ease 2s;
  filter: grayscale(100%);
}
.paint:hover {
  -webkit-filter: grayscale(100%) drop-shadow( 0 0 8px #717171);
  filter: grayscale(100%) drop-shadow( 0 0 12px #717171);
}
.hidepaint {
  display: none;
  animation: none;
  transition: all ease 1s;
}
#calendar {
  filter: grayscale(0) drop-shadow();
  margin-top: -18%;
}

.calendar {
  background-image:url(assets/paint2.png);
  width: 70%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: none;
  transition: all ease 1s;
}
.paint #calendarOpen {
  display: none;
}
.calendar #calendarOpen {
  display: block;
  margin-bottom: 3%;
  height: 50%;
  width: 80%;
  position: fixed;
  left: 10%;
  bottom: 1%;
  overflow: scroll;
  transition: all ease-in 1s;
}
#calendar:hover {
  color: #f7867e;
}
.calendar #calendar::after {
  content: " ⓧ";
}
iframe:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
}
.calendar:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
}
.calendar #calendarOpen:hover {
  -webkit-filter: grayscale(0%) drop-shadow( 0 0 0px);
  filter: grayscale(0%) drop-shadow( 0 0 0px);
}
@media (max-width: 700px) {
  html {
    background-size: 40%;
    background-position: -30% 0% fixed;
    height: 100vh;
  }
  Header {
    text-align: center;
    position: fixed;
    top: -3%;
    font-size: 6vw;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 180%;
    color: #454545;
    letter-spacing: 2px;
  }
  h1 {
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    line-height: 5%;
    letter-spacing: 30px;
    font-size: 2em;
    color: #f0f0f0;
    position: fixed;
    right: 4.3%;
    top: 6%;
    z-index: -1;
    animation: fadeInArt ease-in 9s;
    text-shadow: 2px 2px #f7867e, 3px 3px #f7867e, 4px 4px 1px #f7867e;
  }
  .smcontainer {
    position: fixed;
    left: 0%;
    bottom: 4%;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .twitter {
    width: 15%;
    height: 100%;
    border-radius: 5px;
  }
  .instagram {
    width: 15%;
    height: 100%;
  }
  .facebook {
    width: 15%;
    height: 100%;
  }
  .email {
    width: 15%;
    height: 100%;
  }
  .phone {
    width: 15%;
    height: 100%;
  }
  .address {
    width: 15%;
    height: 100%;
  }

  .container {
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 1em;
    text-align: center;
    width: 400px;
    height: 400px;
    max-width: 80vw;
    max-height: 45%;
    position: fixed;
    top: 25%;
    margin-top: 5%;
    margin-left: 10%;
  }
}