@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poiret+One&display=swap');
html {
  box-sizing: border-box;
  /* background-image:url(assets/bg.png); */
  background-repeat: no-repeat;
  background-color: #2e2e2e;
  background-attachment: fixed;
  background-size: cover;
  background-position: center bottom;
}
@keyframes fadeIn {
  0% {
    opacity:0;
    filter: blur(5px);
  }
  50% {
    opacity: .5;
    filter: blur(2px);
  }
  75% {
    opacity: .75;
    filter: blur(0) grayscale(90%);
  }
  100% {
    opacity:1;
    filter: grayscale(100%);
  }
}
@keyframes fadeInMural {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInPaint {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeInText {
  0% {
    opacity:0;
    transform: translateY(70px);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}
@keyframes fadeInArt {
  0% {
    opacity:0;
    transform: translateX(70px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes fadeInDancer {
  0% {
    opacity:0;
    transform: translateX(-70px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@keyframes fadeInActor {
  0% {
    opacity:0;
    transform: translateX(70px);
  }
  100% {
    opacity:1;
    transform: translateX(0);
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
body {
  margin: 0;
}

Header {
  text-align: right;
  padding-right: 2%;
  margin-top: -2%;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3em;
}

h2 {
  line-height: 200%;
  animation: fadeInText ease 8s;
  background-color: #242422;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(69,69,69,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
h1 {
  line-height: 5%;
  letter-spacing: 20px;
  font-size: 3.1em;
  color: #d3d3d3;
  position: fixed;
  right: 4%;
  top: 12%;
  z-index: +1;
  animation: fadeInArt ease 3s;
  text-shadow: 2px 2px #4a4a4a, 3px 3px #4a4a4a, 4px 4px 4px #4a4a4a;
}
.smcontainer {
  position: fixed;
  right: 10%;
  bottom: 5%;
  height: 25%;
  width: 18%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.twitter {
  background-image: url(assets/twitter.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.twitter:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.01);
  border-radius: 10px;
}
.instagram {
  background-image: url(assets/ig.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.instagram:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.01);
  border-radius: 10px;
}
.facebook {
  background-image: url(assets/facebook.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.facebook:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.01);
  border-radius: 10px;
}
.email {
  background-image: url(assets/email.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.email:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.01);
  border-radius: 10px;
}
.phone {
  background-image: url(assets/phone.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.phone:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.01);
  border-radius: 10px;
}
.address {
  background-image: url(assets/address.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30%;
  height: 45%;
}
.address:hover {
  box-shadow: 0px 0px 8px #1f1f1f;
  transform: scale(1.01);
  border-radius: 10px;
}
.container {
  max-width: 40%;
  height: 78vh;
  margin-top: -25%;
  margin-left: 10%;
  text-align: wrap;
  transform: scale(0.98);
  transition: transform 0.5s;
  opacity: 1;
  background-color: #242424;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 10px 20px 8px rgba(0, 0, 0, 0.12), 20px 20px 8px rgba(0, 0, 0, 0.24);
}
.mural {
  animation: fadeIn ease-in 5s, fadeInMural ease-in 4s;
  background-image:url(assets/urban1.png);
  width: 49%;
  height: 49%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  align-self: flex-end;
  transition: all ease 2s;
  filter: grayscale(100%);
}
.mural:hover {
  -webkit-filter: drop-shadow( 0 0 8px #797979);
  filter: drop-shadow( 0 0 8px #797979);
  box-shadow: 1px 1px 10px #797979;
  transform: scale(1.01);
}
.actor {
  animation: fadeIn ease-in 11s, fadeInActor ease-in 10s ;
  background-image:url(assets/actor1.png);
  width: 49%;
  height: 49%;
  background-size: 100%;
  background-position: center left;
  background-repeat: no-repeat;
  align-self: flex-end;
  transition: all ease 2s;
  filter: grayscale(100%);
}
.actor:hover {
  -webkit-filter: drop-shadow( 0 0 8px #797979);
  filter: drop-shadow( 0 0 8px #797979);
  box-shadow: 1px 1px 10px #797979;
  transform: scale(1.01);
}
.dancer {
  animation: fadeIn ease-in 13s, fadeInDancer ease-in 12s;
  background-image:url(assets/dancer1.png);
  width: 49%;
  height: 49%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  transition: all ease 2s;
  align-self: flex-end;
  filter: grayscale(100%);
}
.dancer:hover {
  -webkit-filter: drop-shadow( 0 0 8px #797979);
  filter: drop-shadow( 0 0 8px #797979);
  box-shadow: 1px 1px 10px #797979;
  background-position: center center;
  transform: scale(1.01);
}
.paint {
  animation: fadeInPaint ease-in 7s, fadeIn ease-in 8s;
  background-image:url(assets/paint1.png);
  width: 49%;
  height: 49%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  align-self: flex-end;
  transition: all ease 2s;
  filter: grayscale(100%);
}
.paint:hover {
  -webkit-filter: drop-shadow( 0 0 8px #797979);
  filter: drop-shadow( 0 0 8px #797979);
  box-shadow: 1px 1px 10px #797979;
  transform: scale(1.01);
}